[mgr]
show_hidden = false

[opener]
play = [
  { run = 'vlc "$@"', desc = "VLC", orphan = true, for = "linux" }
]
music = [
  { run = 'strawberry "$@"', orphan = true, for = "linux" }
]
view = [
  { run = 'feh "$@"', orphan = true, for = "linux" }
]
edit = [
  { run = 'vscodium "$@"', for = "linux" },
  { run = 'sudo nano "$@"', block = true, for = "linux"},
]
onlyoffice = [
  { run = '/usr/bin/desktopeditors "$@"', orphan = true, for = "linux"},
]
pdf = [ 
  { run = 'okular "$@"', orphan = true, for = "linux"},
]
extract = [
  { run = '7z x "$@"', desc = "Extract here", for = "linux" }
]

[open]
rules = [
  { mime = "application/pdf", use = "pdf" },
  { mime = "audio/*", use = "music" },
  { mime = "video/*", use = "play" },
  { mime = "image/*", use = "view" },
  { mime = "application/zip", use = "extract" },
  { mime = "application/7z-compressed", use = "extract" },
  { mime = "application/rar", use = "extract" },
  { mime = "application/tar", use = "extract" },
  { mime = "application/openxml*", use = "onlyoffice" },
  { mime = "{text,application}/*", use = "edit" },
]

[plugin]
  prepend_preloaders = [
    # Replace magick, image, video with mediainfo
    { mime = "{audio,video,image}/*", run = "mediainfo" },
    { mime = "application/subrip", run = "mediainfo" },
    # Adobe Illustrator, Adobe Photoshop is image/adobe.photoshop, already handled above
    { mime = "application/postscript", run = "mediainfo" },
  ]
  prepend_previewers = [
    # Replace magick, image, video with mediainfo
    { mime = "{audio,video,image}/*", run = "mediainfo"},
    { mime = "application/subrip", run = "mediainfo" },
    # Adobe Illustrator, Adobe Photoshop is image/adobe.photoshop, already handled above
    { mime = "application/postscript", run = "mediainfo" },
  ]
  # There are more extensions which are supported by mediainfo.
  # Just add file's MIME type to `previewers`, `preloaders` above.
  # https://mediaarea.net/en/MediaInfo/Support/Formats

# For a large file like Adobe Illustrator, Adobe Photoshop, etc
# you may need to increase the memory limit if no image is rendered.
# https://yazi-rs.github.io/docs/configuration/yazi#tasks
[tasks]
  image_alloc      = 1073741824        # = 1024*1024*1024 = 1024MB

